    <institution>
      <name>{inst_name}</name>
      <config> 
         <DeployInst> 
          <prototypes>
            {prototypes}
          </prototypes>
          <build_times>
            {build_times}
          </build_times>
          <lifetimes>
            {lifetimes}
          </lifetimes>
          <n_build>
            {n_build}
          </n_build>
        </DeployInst>  
      </config>
    </institution>
